Source: carbon
Section: misc
Priority: extra
Maintainer: Kulikovsky Dmitry <dkulikovsky@yandex.ru>
Build-Depends: debhelper (>= 8.0.0), cdbs
Standards-Version: 3.9.3
Homepage: http://github.com/graphite-project/carbon.git

Package: carbon
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, ${misc:Depends},
	python-mock , python-twisted, python-tz
Description: backend for graphite
